<div class="container-fluid">

  <div class="product row product" ng-repeat="x in products" ng-click="inc(x);">
    <div class="col-12">
      <img src="icons/{{x.pid}}.png" />
    <span class="s">
      {{x.name}}
    </span>

  </div>
  </div>

</div>

<style>

.s{
    font-size: 25px;
    margin: 10px;
}

.product{
  background-color: transparent;
  color: #1A0D30;
  cursor: pointer;
  transform: rotateZ(0.5deg);
  margin: 2vw;
  border-style: outset;
  border-bottom-color: #E6751E;
  box-shadow: 5px 5px 5px grey;
}

</style>
