<link rel="stylesheet" href="tree/tree.css">
<div class="fillv text-center" ng-controller="tree-ctrl" id="set">

  <div class="fillv tf-tree">

        <div ng-include="'tree/rec.htm'">

        </div>

  </div>


  <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

           <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal body -->
          <div class="modal-body text-center">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
               <span class="input-group-text">name</span>
            </div>
              <input type="text" class="form-control" ng-model="t.name">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
               <span class="input-group-text">output</span>
            </div>
              <button type="button" class="btn btn-outline-secondary dropdown-toggle fs" data-toggle="dropdown">
             {{t.id+' / '+t.out}}
             </button>

             <div class="dropdown-menu sc">

             <a class="dropdown-item text-primary" ng-click="t.out='roots';t.id='';">roots</a>
             <div class="" ng-repeat="x in products" href="#">
               <div class="dropdown-header">{{x.name+'_'+x.id+'/'}}</div>
              <a class="dropdown-item text-primary" ng-click="t.out=k;t.id=x.id;" ng-repeat="(k, v) in x.outputs">{{k}}</a>
             </div>

             </div>

            </div>

             <button type="button" ng-click="mc();" class="btn btn-success">ok</button>
             <button type="button" ng-click="oba[idx].s.push({t:{name:'new node',id:'',out:'roots'},s:[]});mc();" class="btn btn-info">add node</button>
             <button type="button" ng-click="oba.splice(idx,1);mc();" class="btn btn-danger">remove</button>

          </div>

        </div>
      </div>
    </div>


</div>

<script>


</script>
