  <link rel="stylesheet" href="home/products/control-unit/control-unit.css">


  <div class="jumbotron jumbotron-fluid">
    <h1 class="he">{{p.sensors[0].name}} :  {{p.sensors[0].reading}}
      <span class="f-right material-icons clickable">settings</span></h1>
  </div>

  <div class="container-fluid">
    <div class="row" ng-repeat="x in p.swhs track by $index">

      <div class="col-6 na">
        name {{$index+1}}
      </div>

    <div class="toggle-body {{x==1?'toggle-body--on':''}}" ng-click="p.querys.addq({data:{ord:'ch'+($index+1)+'/'+(x?0:1)}})">
      <div class="toggle-btn {{x==1?'toggle-btn--on':''}}"></div>
    </div>

    </div>

      </div>

      <div class="d-flex justify-content-center foo ">
<div class="material-icons clickable alarm" ng-click="p.querys.addq({data:{ord:'alm/'+(p.alarm?0:1)}})">
  {{p.alarm? 'notifications_active':'notifications'}}
</div>
<div class="clickable door"  style="background-image:url('home/products/control-unit/{{'door'+p.door}}.ico');"
 ng-click="p.querys.addq({data:{ord:'dor/'+(p.door?0:1)}})">
</div >
  </div>


  <script>


  </script>
